<div class="container">
  <div class="text-form mt-3">
    <h1>Welcome to the Stupid Coach app.</h1>
    <p>Please ask a question to our Stupid Coach.</p>
    <form action="/answer" class="form-inline">
      <div class="form-group">
        <input class="form-control mr-2" type="text" name="question">
        <button class = "form-control ml-2 btn btn-primary" type="submit">Ask!</button>
      </div>
    </form>
  </div>
</div>
