// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-family: 'Playfair Display';
};

p {
  font-family: 'Raleway';
};

.text-form {
  padding: 15px;
  };

  .question-answer {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px;
  }
